customtkinter==5.2.2
pynput==1.7.6
Pillow==10.1.0
easyocr==1.7.1
numpy==1.26.2
torch==2.1.1
torchvision==0.16.1
translate==3.6.1
pystray==0.19.0
langdetect==1.0.9
langdetect
google-generativeai
openai>=1.0.0
deepseek
ollama>=0.1.0
pyinstaller
