customtkinter
pynput
Pillow
easyocr
numpy
# torch # Please install PyTorch with CUDA support manually from https://pytorch.org/get-started/locally/
# torchvision # Installed alongside PyTorch
translate
pystray
langdetect
google-generativeai
openai>=1.0.0
deepseek
ollama>=0.1.0
pyinstaller
